

  .btn-primary{
      background-color: darkgreen;
  }

  
  
    .jumbotron{
             background-color:beige;
              color: saddlebrown;
              padding:10px !Important;
           
  }
  .jumbotron button{
      background-color: darkgreen;
      border-radius: 10px;
      display: inline-flex;
    
  }
   
  .carousel slide{
      display: block;
      
      
  }
  .container {
      margin-top:10px !Important;
           position: sticky;
       position: -webkit-sticky; /* Safari */
      
  }
  .bottom-nav a{
  font-size: x-small;    
  }

  /* Modify the backgorund color */ 
  
  .navbar-custom { 
      background-color: darkgreen; 
  } 
  .btn-outline-success{
      border-color:white;
  }
   @media only screen and (max-width: 767px)
   {

  
       .mb-2, .my-2{
           margin-top: 0px !Important;
       }
  }
     
  .card-img-top {
      /*height: 11vw;*/
      object-fit: cover;
  }
    /* Small devices (landscape phones, 576px and up) */
    @media (min-width: 576px) {
      .card-img-top {
          height: 19vw;
      }
    }
    /* Medium devices (tablets, 768px and up) */
    @media (min-width: 768px) {
      .card-img-top {
          height: 16vw;
      }
    }
    /* Large devices (desktops, 992px and up) */
    @media (min-width: 992px) {
      .card-img-top {
          height: 16vw;
      }
    }
    /* Extra large devices (large desktops, 1200px and up) */
    @media (min-width: 992px) {
      .card-img-top {
          height: 16vw;
      }
    }
  footer{
      background-color: darkgreen;
      color: whitesmoke;
  }
  
  footer ul li a{
      list-style: none;
      color: mediumpurple;
  }
  .text-align{
      text-align: center;
  }
  
  .test{
      color:green;
  }