h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
margin-bottom: 0.5rem;
font-family: 'Bellefair', sans-serif;
font-weight: 500;
line-height: 1.2;
color: inherit;
}
p{
  font-family: 'Raleway', sans-serif;
}

/* Top nav bar icons style */
.brand{
  font-family: 'Bellefair', serif;
  color:#198754;
}
.card{
border: 1px solid rgba(165, 165, 165, 0.125);
}
.bg-custom{
  background-color:lavender;
}
.nav-pills .nav-link.active{
  color: #fff;
  background-color:#198754; ;
}

.card-text{
  min-height: 70px;
}

.container-fluid a i{
  border:none;
}
.topnav-centered a {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* The sidepanel menu */
.sidepanel {
    height: 91%; /* Specify a height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 2; /* Stay on top */
    top: 0;
    left: 0;
    background-color: lavender;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
  }
  
  /* The sidepanel links */
  .sidepanel a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidepanel a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidepanel .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
/**************************/  
/* The button used to open the sidebar */
.burgermenu {
    font-size: 20px;
    cursor: pointer;
    padding: 10px 15px;
    border: none;
  }
  
  .burgermenu:hover {
    background-color:#198754;
  }
  /****************************/  
 
 
 .btn-primary{
      background-color:#198754;
      font-size: small;
      border-radius: 0;
      border:none;

  }

  
  
    .jumbotron{
             background-color: lavender;
              color: saddlebrown;
              padding:10px !Important;
           
  }
  .jumbotron button{
      background-color:#198754;
      border-radius: 0;
      display: inline-flex;
      border: none;
    
  }
   
  .carousel slide{
      display: block;
      
      
  }
  .container {
      margin-top:10px !Important;
           position: sticky;
       position: -webkit-sticky; /* Safari */
      
  }
   /************************************************************/
  /**bottom-nav**/
.bottom-nav{
    background-color: white;
    padding-top: 2%;
    padding-bottom: 0;
    position: fixed;
  }
 
  .bottom-nav i{
      color:#198754;
  }
  .bottom-nav a{
   padding: 0;
}
  .bottom-nav h6{
    font-family: 'Raleway', sans-serif;
      font-size: x-small;
      color: #198754;
  }
.bottom-nav i .fa{
  size: small;
}

  /************************************************************/

  /* Modify the backgorund color */ 
  
  .navbar-custom { 
      background-color:#198754; 
  } 
  .btn-outline-success{
      border-color:white;
  }
   @media only screen and (max-width: 767px)
   {

  
       .mb-2, .my-2{
           margin-top: 0px !Important;
       }
  }
     
  .card-img-top {
      /*height: 11vw;*/
      object-fit: cover;
  }
    /* Small devices (landscape phones, 576px and up) */
    @media (min-width: 576px) {
      .card-img-top {
          height: 19vw;
      }
    }
    /* Medium devices (tablets, 768px and up) */
    @media (min-width: 768px) {
      .card-img-top {
          height: 16vw;
      }
    }
    /* Large devices (desktops, 992px and up) */
    @media (min-width: 992px) {
      .card-img-top {
          height: 16vw;
      }
    }
    /* Extra large devices (large desktops, 1200px and up) */
    @media (min-width: 992px) {
      .card-img-top {
          height: 16vw;
      }
    }
  footer{
      background-color:lavender;
      color: black;
      padding-bottom: 100px;
  }
  
  footer ul li a{
      list-style: none;
      color: mediumpurple;
  }
  .text-align{
      text-align: center;
  }

  /* ==========================================================================
   #FORM
   ========================================================================== */
input,
textarea {
  outline: none;
  margin: 0;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  width: 100%;
  font-size: 14px;
  font-family: inherit;
}

textarea {
  resize: none;
}

.input-group {
  position: relative;
  margin: 0;
}

.input--style-6,
.textarea--style-6 {
  background: transparent;
  line-height: 38px;
  border: 1px solid #cccccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #666;
  font-size: 15px;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
  padding: 0 20px;
}

.input--style-6::-webkit-input-placeholder,
.textarea--style-6::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #999;
}

.input--style-6:-moz-placeholder,
.textarea--style-6:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #999;
  opacity: 1;
}

.input--style-6::-moz-placeholder,
.textarea--style-6::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #999;
  opacity: 1;
}

.input--style-6:-ms-input-placeholder,
.textarea--style-6:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #999;
}

.input--style-6:-ms-input-placeholder,
.textarea--style-6:-ms-input-placeholder {
  /* Microsoft Edge */
  color: #999;
}

.input--style-6:focus,
.textarea--style-6:focus {
  -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.15);
  -webkit-transform: translateY(-3px);
  -moz-transform: translateY(-3px);
  -ms-transform: translateY(-3px);
  -o-transform: translateY(-3px);
  transform: translateY(-3px);
}

.textarea--style-6 {
  line-height: 1.2;
  min-height: 120px;
  padding: 10px 20px;
}

.label--desc {
  font-size: 13px;
  color: #999;
  margin-top: 10px;
}

@media (max-width: 767px) {
  .label--desc {
    margin-top: 14px;
  }
}

.input-file {
  display: none;
}

.input-file + label {
  font-size: 15px;
  color: #fff;
  color: white;
  line-height: 40px;
  background-color: #666666;
  padding: 0 20px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  display: inline-block;
  margin-right: 15px;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
  cursor: pointer;
}

.input-file:focus + label,
.input-file + label:hover {
  background: #1b1b1b;
}

.input-file__info {
  font-size: 15px;
  color: #666;
}

@media (max-width: 767px) {
  .input-file__info {
    display: block;
    margin-top: 6px;
  }
}


/* ==========================================================================
   #TITLE
   ========================================================================== */
.title {
  font-size: 36px;
  font-weight: 700;
  text-align: left;
  color: #fff;
  margin-bottom: 24px;
}

@media (max-width: 767px) {
  .title {
    padding: 0 15px;
  }
}

/* ==========================================================================
   #CARD
   ========================================================================== */

.card-6 {
  background: transparent;
  border: none;
}

.card-6 .card-heading {
  background: transparent;
}

.card-6 .card-body {
  background: #fff;
  position: relative;
  border: 1px solid #e5e5e5;
  border-bottom: none;
  padding: 30px 20px;
  padding-bottom: 0;
  -webkit-border-top-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
  border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -moz-border-radius-topright: 3px;
  border-top-right-radius: 3px;
}

.card-6 .card-body:before {
  bottom: 100%;
  left: 75px;
  border: solid transparent;
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #fff;
  border-width: 10px;
}

.card-6 .card-footer {
  background: #fff;
  border: 1px solid #e5e5e5;
  border-top: none;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-bottom-left-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  border-bottom-right-radius: 3px;
  padding: 50px 55px;
}

@media (max-width: 767px) {
  .card-6 .card-footer {
    padding: 50px 30px;
  }
}

/* ==========================================================================
   #WRAPPER
   ========================================================================== */
   .wrapper {
    margin: 0 auto;
    background: #198754;
    padding: 5%;
  }
  
  .wrapper--w960 {
    max-width: 960px;
  }
  
  .wrapper--w900 {
    max-width: 900px;
  }
  
  .wrapper--w790 {
    max-width: 790px;
  }
  
  .wrapper--w780 {
    max-width: 780px;
  }
  
  .wrapper--w680 {
    max-width: 680px;
  }
  
  /*-------------------------------<<<<<<<<<<<<<<<<<CARE>>>>>>>>>>>>>>>>>>-------------------------------------*/
  .care-options-nav{
    margin:20px;
    padding: 20px;
    background: #198754;
    min-height: 1000px;
  }
/*----------------------------------------<<Community>>---------------------------------------------------*/
.flex-column1{
  max-width: 260px;
}


.scale {
  transform: scaleY(1.05);
  padding-top: 5px; 
}